/* PAGE NUOVO WALLET */
#new-card{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    height: 100vh;
    width: 100%;
    
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.new-card-content{
    background-color: #fff;
    width: 95%;
    max-width: 700px;
    
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    padding: 2rem;
    
    border: none;
    border-radius: 1.5rem;
    animation: entrata .4s ease-out forwards;
}

@keyframes entrata {
    0%{
        transform: translateY(200%);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes uscita {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(200%);
    }
}
.new-card-content h4{
    font-size: 2rem;
    text-align: center;
}

#forms-new-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap: 1.5rem;
}
#forms-new-card input{
    width: 17rem;

    border-radius: 1rem;
    padding: 1rem;
    justify-self: center;
    align-self: center;

    text-align: center;
    font-size: 1rem;

    flex-wrap: wrap;
    flex-shrink: 1;
}
#forms-new-card label{
    align-self: center;
}
#forms-new-card input:focus{
    outline: 1px solid var(--blue);
}

#form-codice,
#form-creare{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.buttons{
    width: 100%;
    max-width: 25rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttons button{
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
.btn-anullare-card{
    background-color: var(--blue);
}
.btn-creare-card{
    background-color: var(--verde);
}
/* FIMPAGE NUOVO WALLET */