:root {
    --verde: #19c463;
    --blue: #231AC4;
}

body{
    background-color: #fff;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow-y: hidden;
}

#app{
    z-index: 1;
}

/* NAVBAR */
.navbar{
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}
.navbar-inner{
    margin: 0 3%;
}

.title{
    width: 100%;
    max-width: 768px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title img{
    margin-top: 12px;
}
.title div{
    float: right;
    margin-top: 6px;
    margin-right: 10px;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;

}
.title div span{
    font-size: 2rem;
    background: linear-gradient(180deg, var(--blue) 0%, rgb(0, 0, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
/* FIM NAVBAR */


/* PAGE CONTENT */
.page-content{
    margin: 0 3%;
}
.block{
    max-width: 768px;
    margin: 0 auto;
}

.btn-creare{
    max-width: 180px;
    padding: .2rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    
    color: #fff;
    background-image: linear-gradient(135deg, var(--blue) 0%, var(--verde) 100%);
    
    border: none;
    border-radius: 20px;
    
    
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    
    cursor: pointer;
}
.btn-creare span{
    font-size: 1.7rem;
}


.container{
    margin-top: 2rem;
}
.container h1{
    font-size: 1rem;
    margin-bottom: .5rem;
    font-weight: 600;
}

.lista{
    height: 400px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: .2rem;
    
    background-image: linear-gradient(135deg, var(--blue) 0%, black 100%);
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    border-radius: 10px;
}


.item{
    list-style-type: none;
    width: 98%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--verde);
    padding: .5rem;
    border-radius: 20px;
}

.item a{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 1;
    
    font-weight: 700;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
/* FIM PAGE CONTENT */


/* PROFILE */
#list-profile{
    list-style-type: none;
    
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    font-size: 1.5rem;
    font-weight: 700;
}
#list-profile a{
    color: black;
    text-decoration: none;
}

#list-profile #logout{
    width: 100px;
}

#list-profile #logout span {
    background-image: linear-gradient(135deg, var(--blue) 0%, var(--verde) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
	font-weight:700;
}
#btn-exit{
    border: none;
    border-radius: 20px;
    padding: .5rem;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: black;
    color: white;
    cursor: pointer;
}
/* FIM PROFILE */


/* PAGE NUOVO WALLET */
#new-wallet{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    height: 100vh;
    width: 100%;
    
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.new-wallet-content{
    background-color: #fff;
    width: 95%;
    max-width: 700px;
    
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    padding: 2rem;
    
    border: none;
    border-radius: 1.5rem;
    animation: entrata .4s ease-out forwards;
}

@keyframes entrata {
    0%{
        transform: translateY(200%);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes uscita {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(200%);
    }
}
.new-wallet-content h4{
    font-size: 2rem;
    text-align: center;
}

#forms-new-wallet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap: 1.5rem;
}
#forms-new-wallet input{
    width: 14rem;

    border-radius: 1rem;
    padding: 1rem;
    justify-self: center;
    align-self: center;
}
#forms-new-wallet label{
    align-self: center;
}
#forms-new-wallet input:focus{
    outline: 1px solid var(--blue);
}

#form-codice,
#form-creare{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.buttons{
    width: 100%;
    max-width: 25rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttons button{
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
.btn-anullare-wallet{
    background-color: var(--blue);
}
.btn-creare-wallet{
    background-color: var(--verde);
}




/* FIMPAGE NUOVO WALLET */